<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>FileUpload Page for Spring Security Example</title>
</head>

<body>
	<h1>Welcome to FileUpload Page for Spring Security Example</h1>
	

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>
	<div th:if="${param.logout}">You have been logged out.</div>

	<div>
	<form th:action="@{/fileupload}" enctype="multipart/form-data" method="post">
		
		<input type="file" id="file" name="file" />
		<input type="submit" value="Upload" />
	</form>
	</div>
	
	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
		</ul>
	</div>

</body>
</html>