<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	>
	<head>
		<title>Hello Page for Spring Security Example</title>
	</head>
	
	<body>
		<h1>Welcome to Hello Page for Spring Security Example</h1>
		
		<h1 th:inline="text">
			Hello [[${#httpServletRequest.remoteUser}]] !
		</h1>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Log out"/>
		</form>
		
		<p>Click <a th:href="@{/fileupload}">here</a> to upload file.</p>
	</body>
</html>